<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()">Themenwahl</a>
      <a mat-list-item routerLink="/topic-1" (click)="sidenav.toggle()">{{topic1}}</a>
      <a mat-list-item routerLink="/topic-2" (click)="sidenav.toggle()">{{topic2}}</a>
      <a mat-list-item routerLink="/topic-3" (click)="sidenav.toggle()">{{topic3}}</a>
      <a mat-list-item routerLink="/topic-4" (click)="sidenav.toggle()">{{topic4}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer">Statistik 4 School</span>
      <span class="example-spacer">
        <mat-form-field style="width: 100px" appearance="outline">
          <input style="max-height: 10px;" matInput placeholder="Hast du eine Frage?">
        </mat-form-field>
      </span>
      <h1>Dein aktueller Score: {{ score }} Punkte</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="chatBoxVisible" class="notification-box">
  <app-chat></app-chat>
</div>