<!-- <div class="chat-container"> -->
  <!-- <p style="font-size: 24px;">
    Hallo, kannst du mir schnell helfen, und mir sagen was der Unterschied zwischen einem Balken- und Tortendiagramm ist?
  </p> -->
  <mat-card class="main-card">
    <h2 class="card-text">Hallo, kannst du mir grad sagen was der Unterschied zwischen einem Balken- und Tortendiagramm ist? Brauch dringend Hilfe.. </h2>
    <p>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Deine Antwort</mat-label>
        <input style="display: flex; color:black;" matInput placeholder="">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Helfen gibt extra Score ...</mat-hint>
      </mat-form-field>
    </p>
    <button (click)="closeChatbox()" style="width: 100%" mat-raised-button color="accent">Antwort senden</button>
  </mat-card>
<!-- </div> -->