<div>
  <mat-card class="main-card">
  <!-- <h1 class="mat-display-1 card-text">Bitte gib deine Antwort hier ein</h1> -->
  <mat-card class="sub-card">
    <div>
      <h2 class="mat-h2 card-text">Bitte gebe hier deine Antwort ein</h2>
      <!-- <mat-form-field  style="min-width: 400px">

        <mat-select [(value)]="selectedDataset" placeholder="Datensatz" (selectionChange)="changeDataset()">
          <mat-option *ngFor="let type of datasets" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <mat-form-field  style="min-width: 400px">
       
      </mat-form-field> -->
      
    </div>
  </mat-card>
</mat-card>
</div>
