#chart-area{
  align-content: center;
  max-width: 600px;
}

#chart-area svg {
  margin: auto;
  display: inherit;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tooltip {                                                        /* NEW */
  background: #eee;                                               /* NEW */
  box-shadow: 0 0 5px #999999;                                    /* NEW */
  color: #333;                                                    /* NEW */
  display: none;                                                  /* NEW */
  font-size: 12px;                                                /* NEW */
  left: 130px;                                                    /* NEW */
  padding: 10px;                                                  /* NEW */
  position: absolute;                                             /* NEW */
  text-align: center;                                             /* NEW */
  top: 95px;                                                      /* NEW */
  width: 80px;                                                    /* NEW */
  z-index: 10;                                                    /* NEW */
}

.diagram-area {
  max-width: 800px !important;
  height: auto;
}
