
  <div>
    <mat-card class="main-card">
      <div>
        <h2 class="mat-h2 card-text">Dein Diagramm</h2>
      </div>
      <div class="diagram-area" style="max-width: 80% !important;" id="chart-area" style="align-content: center">
          <!-- <form>
              <label><input hidden type="radio" name="dataset" value="apples" checked></label>
              <label><input hidden type="radio" name="dataset" value="oranges"></label>
          </form>   -->
          <img src="assets/graphs/zh_piechart.png" />
      </div>
    </mat-card>
  </div>
 